version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/containers_by_bazel

jobs:
  build:
    <<: *container_config
    steps:
      - checkout
      - run:
          name: Install bazel
          command: |
            echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
            curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install bazel
            bazel info release
      - run:
          name: Run gazelle
          command: |
            bazel run //:gazelle
      - run:
          name: Build binary
          command: |
            bazel build //cmd/orangeapi:orangeapi
      - run:
          name: Build image
          command: |
            bazel build cmd/orangeapi:image

  deploy:
    <<: *container_config
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.07.0-ce
      - run:
          name: Install bazel
          command: |
            echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
            curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install bazel
            bazel info release
      - run:
          name: Docker hub login
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Push container images to docker hub
          command: |
            bazel run //:publish
  #     - run:
  #         name: Push docker hub
  #         command: |
  #           docker login -u $DOCKER_USER -p $DOCKER_PASS
  #           docker push orangesys/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_TAG}
  #           curl -X POST https://hooks.microbadger.com/images/orangesys/alpine-orangeapi/_24B4d4BBsQhsH6Av_nH1ZKsl2s=
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
